*{
    margin: 0; padding: o;
}

.navbar{
    padding: 22px 0;
    /*background-color: #34495e !important;*/
    border-bottom: none !important;
}
.navbar-inverse{
    background-color: transparent!important;
}

.navbar ul li a{color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition:all 0.5s ease-in;

}

.navbar ul li a:hover{
     color:deepskyblue !important;
}

.navbar-toggle{
    border:1px solid white !important;
}

.navbar-toggle:hover{
    background-color:deepskyblue !important;
    transition: all 0.5s ease-in;
}
.navbar-inverse .navbar-collapse{
    border-color: transparent !important;
}

.location{
    border:1px solid white;
    border-radius: 50px;
}
.slider{
    height: 700px;
    width: 100%;
    background-image: url("../images/slider4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}


.slider-overlay{
    background:rgba(0,0,0,0.65);
    position: relative;
    width: 100%;
    height: 100%;

}
.slider-content{
    position: absolute;
    top: 39%;
    width: 100%;
}

.icons .fa{
    font-size: 35px;
    margin-right: 7px;
}
.btn1{
    color: #fff;
    text-transform: uppercase;
    padding: 10px 18px;
    letter-spacing: 1px;
    border: 2px solid white;
    background: transparent;
    border-top-left-radius: 15px;
    transition: all ease-in 0.5s;
    font-size: 13px;
    margin-right: -6px;

}
.btn1:hover{
    background-color: deepskyblue;
    border-color:deepskyblue;
    color: #fff; 
    text-decoration: none;
}

.btn2{
    font-size:13px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    transition: all ease-in 0.5s;
    letter-spacing: 1px;
    padding: 10px 18px;
}
.btn2:hover{
    background-color: orangered;
    border-color: orangered;
    color:#fff;
    text-decoration: none;
}
.social-networks a.fa{
    padding: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 25px;
    color:white;
    margin-right: 2px;
}
.social-networks a.fa:hover{
    background-color: deepskyblue;
    border:1px solid deepskyblue;
    text-decoration: none;
    transition: all ease-in 0.5s;
}
.slider .textt, .slider .typed-cursor{
    font-size: 50px;
    display: inline;
    text-transform: uppercase;
}

.primary{
    color: orangered;
}
.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}

@keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@-webkit-keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
 }

