*{  box-sizing: border-box;
    margin: 0; padding: o;
}


.navbar{
    padding: 22px 0;
    /*background-color: #34495e !important;*/
    border-bottom: none !important;
}
.navbar-inverse{
    background-color: transparent!important;
}

.navbar ul li a{color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition:all 0.5s ease-in;

}

.navbar ul li a:hover{
     color:deepskyblue !important;
}

.navbar-toggle{
    border:1px solid white !important;
}

.navbar-toggle:hover{
    background-color:deepskyblue !important;
    transition: all 0.5s ease-in;
}
.navbar-inverse .navbar-collapse{
    border-color: transparent !important;
}

.location{
    border:1px solid white;
    border-radius: 50px;
}
.slider{
    height: 700px;
    width: 100%;
    background-image: url("../images/slider4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}


.slider-overlay{
    background:rgba(0,0,0,0.65);
    position: relative;
    width: 100%;
    height: 100%;

}
.slider-content{
    position: absolute;
    top: 39%;
    width: 100%;
}

.icons .fa{
    font-size: 35px;
    margin-right: 7px;
}
.btn1{
    color: #fff;
    text-transform: uppercase;
    padding: 10px 18px;
    letter-spacing: 1px;
    border: 2px solid white;
    background: transparent;
    border-top-left-radius: 15px;
    transition: all ease-in 0.5s;
    font-size: 13px;
    margin-right: -6px;

}
.btn1:hover{
    background-color: deepskyblue;
    border-color:deepskyblue;
    color: #fff; 
    text-decoration: none;
}

.btn2{
    font-size:13px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    background-color: transparent;
    transition: all ease-in 0.5s;
    letter-spacing: 1px;
    padding: 10px 18px;
}
.btn2:hover{
    background-color: orangered;
    border-color: orangered;
    color:#fff;
    text-decoration: none;
}
.social-networks a.fa{
    padding: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 25px;
    color:white;
    margin-right: 2px;
}
.social-networks a.fa:hover{
    background-color: deepskyblue;
    border:1px solid deepskyblue;
    text-decoration: none;
    transition: all ease-in 0.5s;
}
.slider .textt, .slider .typed-cursor{
    font-size: 50px;
    display: inline;
    text-transform: uppercase;
}

.primary{
    color: orangered;
}
.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
}

@keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@-webkit-keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
 }

/*===============================Services styles=============================*/
.service-area{
    margin-top: 30px;
}
.service-area p{
    margin-bottom: -5px;
}
.service-wrap{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    z-index: 9;
    margin-top: 20px;
    transition:all 0.5s ease 0s;
 
}

.service-wrap::before, .service-wrap::after{
    content:" ";
    height: 300%;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    background: #34495e;
    transition: all 0.5s ;
    opacity:0;
    position: absolute;
}

.service-wrap::before{
     top: -37px;
     left: 100%;
}
.service-wrap:hover::before{
    left: -27px;
    opacity: 1;
}
.service-wrap::after{
    right: 100%;
    bottom: -37px;
}
.service-wrap.service-wrap:hover::after{
    right:-27px;
    opacity: 1;
}

.service-wrap:hover{
    color: #fff;
}
.service-wrap h3{
    color: #fff;
    font-size:25px ;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}
.service-wrap:hover h3{
    color: #fff;    
}
.service-wrap:hover::after h3{
    background-color: #fff;
}
.service-icon>i{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.service-wrap:hover .service-icon>i{
    transform:rotate(360deg);
}
.service-wrap p{
    font-size: 14px;
    margin-bottom: 0;
}
/*===============================Services styles=============================*/

/*===============================Works styles=============================*/

.row.no-gutters [class*="col-"]{
padding-left: 0;
padding-right: 0;
}
.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    transition: transform 0.5s ease;
    width: 100%;
}
.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

/*===============================Services styles=============================*/

/*===============================Team member section starts=============================*/

.team-member{ 
    margin:50px 15px 0 15px;
}
.team-member-info{
    padding: 10px 0 30px 0;
}
h4.team-member-name{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
h4.team-member-designation{
    color: deepskyblue;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
}

.social-list{
    padding-left: 0;
}
.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-left: 10px;
}
.social-list i{
    font-size: 17px;
}
.icon-gray{
    color: #64707b;
}

/*===============================Team member section ends=============================*/

/*===============================Testimonials styles Start=============================*/

.carousel-inner img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #fff;
    padding: 5px;
}
.testimonials{
    background-image: url('../images/responsive/reviews.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 155px;
}
.testimonials ol.carousel-indicators{
    bottom:-60px;
}
.border-bottom{
    background-color: #fff;
    width: 40px;
    height: 2px;
    margin: 0 auto;
}

.carousel-inner p{
font-size: 17px;
font-weight: normal;
letter-spacing: 1px;
margin-top: 30px;
}
/*===============================Testimonials styles End=============================*/




/*===============================FAQ styles Start=============================*/
#accordian .panel{
    box-shadow: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#accordian .panel-heading{
    padding: 0;
    border: none;
    border-radius: 10px;

}

#accordian .panel-title a{
    font-size: 15px;
    padding: 25px 35px;
    background: #34495e;
    color: #fff;
    border: none;
    display: block;
    font-weight:600;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: none;
}

#accordian .panel-title a:before,
#accordian .panel-title a.collapsed:before
{content: "\f068"; 
font-family: fontawesome;
height: 40px;
width: 40px;
line-height:32px ;
border-radius: 50px;
background: #34495e;
font-size: 15px;
text-align: center;
color: #fff;
border: 5px solid white;
position: absolute;
top: 10px ;
left: -20px;
transition: all 0.3s ease;
}

#accordian .panel-title a.collapsed:before{
    content: "\f067";
}
#accordian .panel-title a:hover:before,
#accordian .panel-title a.collapsed:hover:before{
transform: rotate(360deg);
}

#accordian .panel-body{
    padding: 15px 25px;
    background: #ebebeb;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 25px;
    border-top: none;
    position:relative ;
}

.freeImage img{
    margin-top: -45px;
}


/*===============================FAQ styles End=============================*/

/*===============================Video styles Start=============================*/
.video-area{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/responsive/video.jpg);
    background-attachment: fixed;
    padding-top: 180px;
    padding-bottom: 180px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    margin-top: 40px;
}

.play{
    background-image: url(../images/responsive/play-btn.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 60% 50%;
    width: 110px;
    height: 110px;
    border-radius:50%;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 0px 20px rgba(0,167,221,0.5);
    -webkit-box-shadow: 0px 0px 0px 20px rgba(0,167,221,0.5);
    -moz-box-shadow: 0px 0px 0px 20px rgba(0,167,221,0.5);
    -o-box-shadow: 0px 0px 0px 20px rgba(0,167,221,0.5);

    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
}

.play:hover{
    box-shadow: 0px 0px 15px 20px rgba(0,84,111,0.5) ;
    -webkit-box-shadow: 0px 0px 15px 20px rgba(0,84,111,0.5) ;
    -moz-box-shadow: 0px 0px 15px 20px rgba(0,84,111,0.5) ;
}

.video-container{
    position: relative;
    padding-top: 30px;
    padding-bottom: 54.25%;
    height: 0;
    overflow: hidden;
    margin-top: -130px;
    display: none;
}
/*===============================Video styles End=============================*/